body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: system-ui, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-container {
  width: 100%;
  background-color: #1f2937; /* gris oscuro */
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}